<div class="container
container-fluid
col-lg-offset-1
col-lg-10
col-md-offset-0
col-md-12
">

  <h2>Conference fee and accommodation</h2>
  <p>
    The <strong>conference fee</strong> is 300 Euro (360 USD) if paid before June 1st and 350 Euro (420 USD) if paid
    after June 1st.
    It covers the registration, the conference kit, luncheons, coffee breaks and the entertaining events: the banquet
    and the concert.
  </p>
  <p>
    The conference fee is to be paid via bank transfer into the Polish Mathematical Society account:<br/>
    <span class="iban">
    IBAN: PL 62 1500 1777 1217 7008 5391 0000<br/>
    BIC/SWIFT: WBKPPLPP
  </span>
    Please remember to write in the transfer description: "Banaszak 60, your name".
  </p>
  <p>
    The <strong>accommodation</strong> is not covered by the registration fee. If you do not wish to look for a hotel by
    yourself and would like to be lodged in the same place where the speakers are accommodated, let us know by
    indicating that in the registration form. The site is freshly refurbished elegant building belonging to the
    University, called Hanka, located in the city centre (Aleje Niepodległości 26). The price is 25 Euro (30 USD) per
    night.
  </p>
  <p>
    Thanks to the generosity of the Number Theory Foundation we are able to reduce the fee for 10 junior attendees who
    cannot obtain the funds from their department. The reduced fee is 50 Euro (60 USD). If you are eligible and would
    like to apply, please indicate that in the registration form (Special requests) and explain why you need the
    reduction.
  </p>
</div>


