<div class="container
container-fluid
col-lg-offset-1
col-lg-10
col-md-offset-0
col-md-12
">

  <h2>Conference fee and accommodation</h2>
  <p>
    The <strong>conference fee</strong> is 300 Euro (360 USD) if paid before June 1st and 350 Euro (420 USD) if paid
    after June 1st.
    It covers the registration, the conference kit, luncheons, coffee breaks and the entertaining events: the banquet
    and the concert.
  </p>
  <p>
    The conference fee is to be paid via bank transfer into the Polish Mathematical Society account:<br/>
    <span class="iban">
    IBAN: PL 62 1500 1777 1217 7008 5391 0000<br/>
    BIC/SWIFT: WBKPPLPP<br>
      <a href="https://ssl.dotpay.pl/t2/?pid=mntyy5rd6nnt9vchxe4z37mddje3uss3" target="_blank">Online payment 360.00 USD - Dotpay </a><br/>
      <a href="https://ssl.dotpay.pl/t2/?pid=od1dvpq4wiixldti52sc3geclgiibabu" target="_blank">Online payment 300.00 EUR - Dotpay </a><br/>
  </span>
    Please remember to write in the transfer description: "Banaszak 60, your name".
  </p>
  <p>
    The <strong>accommodation</strong> is not covered by the registration fee.
  </p>
  <!--If you do not wish to look for a hotel by-->
  <!--yourself and would like to be lodged in the same place where the speakers are accommodated, let us know by-->
  <!--indicating that in the registration form. The site is freshly refurbished elegant building belonging to the-->
  <!--University, called Hanka, located in the city centre (Aleje Niepodległości 26). The price is 25 Euro (30 USD) per-->
  <!--night.-->
  <!--</p>-->
  <p>
    If you do not wish to look for a hotel by yourself and would like to be lodged in University guest house Jowita (see the photos at <a href=" https://dsjowita.home.amu.edu.pl/pokoje-goscinne/standard-podwyzszony/" target="_blank"> https://dsjowita.home.amu.edu .pl/pokoje-goscinne/standard-podwyzszony/ </a> ) please indicate that in the registration form (Special requests) and we will let you know how to make the reservation. The prises are:
  </p>
  <ul>
    <li><p>single room – 80 PLN + 8% VAT</p></li>
    <li><p>double room – 120 PLN + 8% VAT</p></li>
    <li><p>double room single use – 90 PLN + 8% VAT</p></li>
    <li><p>little apartment – 140 PLN + 8% VAT</p></li>
    <li><p>little apartment single use – 110 PLN + 8% VAT</p></li>
    <li><p>larger apartment – 160 PLN + 8% VAT</p></li>
    <li><p>larger apartment single use – 120 PLN + 8% VAT</p></li>
  </ul>
  <p>
    Thanks to the generosity of the Number Theory Foundation we are able to reduce the fee for 6 junior attendees who cannot obtain the funds from their department. The reduced fee is 50 Euro (60 USD). If you are eligible and would like to apply, please send e-mail to <a href="mailto:banaszak-60-aag@wmi.amu.edu.pl" type="email">banaszak-60-aag@wmi.amu.edu.pl</a>  with an explanation why you need the reduction.
  </p>
</div>


