<div class="container">
  <h2>Conference site</h2>
  <p>
    The conference will be held at the Faculty of Mathematics and Computer Science of Adam Mickiewicz University in Poznań, Poland (Street address: Umultowska 87, Poznań, Poland GPS coordinates: 52.46748, 16.92739).
  </p>
  <p>
    The building is located at Morasko Campus in the Northern part of Poznań, accessible by tram, bus or car.
  </p>
  <h3>
    Getting to the conference site
  </h3>
  <p>
    You can easily access the Morasko Campus by taking the fast tram no. 12, 14, 15 or 16 from many points in the city. For example:
  </p>
  <ul>
    <li><p>
      From the university guest house DS Jowita: go to the nearby Rondo Kaponiera (the Kaponiera Roundabout) and look for linies no. 12 or 14 (deep underground level) or line no. 15 (sub-surface), direction North (indicated ”Os. Sobieskiego”). After approx. 12 minutes ride get off at Os. Sobieskiego (this is the last stop).</p>
    </li>
    <li><p>
      From Vivaldi Hotel: go approx. 700 m to Słowiańska tram station(<a href="https://www.google.com/maps/dir/Winogrady+9,+60-101+Pozna%C5%84/PST+S%C5%82owia%C5%84ska,+S%C5%82owia%C5%84ska,+Pozna%C5%84/@52.4246262,16.9176122,16z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x47045b52502b4a37:0x7d648c2d50c2252!2m2!1d16.9234899!2d52.4229129!1m5!1m1!1s0x470444ab5c2bf33b:0xbeaf713162fca232!2m2!1d16.9193422!2d52.4271579!3e2" target="_blank">google maps link</a>) and take any line (2, 14, 15 or 16), direction North (indicated ”Os. Sobieskiego”). After approx. 7 minutes ride get off at Os. Sobieskiego  (this is the last stop).</p>
    </li>
  </ul>

  <p>
    When you get off at Osiedle Sobieskiego take a walk (North and then East) to the venue, approx. 750 m, 9 min (<a href="https://www.google.com/maps/dir/52.4641789,16.9179066/52.4657749,16.9264425/@52.4649076,16.9145637,15z/data=!4m2!4m1!3e2">google maps link</a>).
  </p>
  <h3>
    Additional information
  </h3>
  <p>
    For additional information on Poznań public transport as well as tourists attractions see http://www.poznan.pl/mim/turystyka/en/.
  </p>
</div>
