<div class="container
container-fluid
col-lg-offset-1
col-lg-10
col-md-offset-0
col-md-12
">
  <h2>Welcome</h2>
  <p>The conference arrival day is August&nbsp;26,&nbsp;2018&nbsp;and the departure day is
    September&nbsp;1,&nbsp;2018.</p>
  <p>The lectures will take place from Monday (August&nbsp;27,&nbsp;2018) to Friday (August&nbsp;31,&nbsp;2018).</p>
  <p>The conference fee and accommodation  <a class="cursor" (click)="onFeeLink()">info</a>.</p>
  <p>The registration <a class="cursor" (click)="onFormLink()">form</a>.</p>
</div>
