<div class="container
container-fluid
col-lg-offset-1
col-lg-10
col-md-offset-0
col-md-12
">
  <div class="clear"></div>
  <h3>Sponsors and Organizing Institutions</h3>
  <div class="sponsors col-md-6">
    <a href="https://www.wmi.amu.edu.pl/en/" target="_blank">
      <img src="/assets/graphics/wmi1.png" alt="WMI">
    </a>
  </div>
  <div class="sponsors col-md-6">
    <a href="http://www.ptm.org.pl/" target="_blank">
      <img src="/assets/graphics/ptm-logo-150-eng.png" alt="PTM">
    </a>
  </div>
</div>
