<div class="container">
  <hr/>
  <div class="clear"></div>
  <h3>Sponsors and Organizing Institutions</h3>
  <div class="d-flex flex-row flex-wrap my-flex-container align-content-center">
  <div class="sponsors col-lg-4 col-xl-3 my-flex-item">
    <a href="https://www.wmi.amu.edu.pl/en/" target="_blank">
      <img src="/assets/graphics/wmi1.png" alt="WMI">
    </a>
  </div>
  <div class="sponsors col-lg-4 col-xl-3 my-flex-item">
    <a href="http://www.ptm.org.pl/" target="_blank">
      <img src="/assets/graphics/OP_PTM.svg" alt="PTM">
    </a>
  </div>
  <div class="sponsors col-lg-4 col-xl-3 my-flex-item">
    <a href="http://www.math.put.poznan.pl/" target="_blank">
      <img src="/assets/graphics/pp-put.jpg" alt="PUT">
      <div>Institute of Mathematics Poznan University of Technology</div>
    </a>
  </div>
  <div class="sponsors col-lg-4 col-xl-3 my-flex-item">
    <a href="https://math.illinois.edu/research/faculty-research/number-theory/number-theory-foundation" target="_blank">
      <img src="/assets/graphics/ntflogo.jpg" alt="NTF">
    </a>
  </div>
</div>
</div>
